<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Weather Application</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link href="lib/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="weatherCon">

<div class="container"> <!--Тело на веб страна-->

    <div class="row boja"> <!--Хеадер на страната-->
    <div class="col-sm-7 "><!--Седум од вкупно 12 поделби резервирани за лого-->
      <a href="index.html">
        <img src="images/23793-9-weather-photos.png" class="logo">
        <div class="logo-type">
          <h1 class="site-title">Временска Прогноза</h1>
          <small class="site-description">Скопје, Македонија</small>
        </div>
      </a>
    </div>

    <div class="col-sm-5"> <!--Мени на веб страната-->
      <div class="nav">
        <ul class="nav navbar-nav navigation">
          <li class="menu-item current-menu-item"><a href="index.html">Прогноза</a></li>
          <li class="menu-item"><a href="#">Вести</a></li>
          <li class="menu-item"><a href="#">Македонија</a></li>
          <li class="menu-item"><a href="#">Галерија</a></li>
          <li class="menu-item"><a href="#">Контакт</a></li>
        </ul>
      </div>
    </div>


  </div>

    <div class="row meni"> <!--Search-->
      <div class="col-sm-12">     <!--Прикажување на временска прогноза за селектираниот град, моменталната температура сметана по УТЦ временска зона-->
                                  <!--Прижува температура, брзина на ветер, влажност на воздух, како и температура за наредните 18 часа-->
      <form action="#" class="find-location">
        <input class="vnesi" type="text"  list="dataList" ng-model="getCity" autocomplete="on" placeholder="Побарај локација...">
        <datalist id="dataList">
          <option ng-repeat="citi in cities"  value="{{citi}}">{{citi}}</option>
        </datalist>
        <input class="btn-success" type="submit" ng-click="getResult()" value="Пребарувај">


      </form>
      </div>
    </div>

    <div class="row boja">
        <div class="col-sm-2">
          <div class="forecast-header">
            <div class="day1">{{vreme}}</div>

          </div>
          <div class="forecast-content">
            <div class="location1"><img src="images/icon-marker.png"  width=20> <b>{{city}}</b></div>
            <div class="degree">

              <div class="main-icon">
                <div class="num">{{stepeniDenes}}<sup>o</sup>C</div>
                <img src="http://openweathermap.org/img/w/{{slika}}.png" a width=50>

              </div>
            </div>
            <span class="ikonki"><img src="images/icon-umberella.png" >  {{vlaznostDenes}} %</span>
            <span class="ikonki"><img src="images/icon-wind.png" >  {{vetar}} km/h</span>
          </div>
        </div>
        <div class="col-sm-10">
        <div class="col-sm-2 mali boja2">
          <div class="forecast-header">
            <div class="day">{{vreme1}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika1}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes1}}<sup>o</sup>C</div>

          </div>
        </div>
        <div class="col-sm-2 mali ">
          <div class="forecast-header">
            <div class="day">{{vreme2}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika2}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes2}}<sup>o</sup>C</div>

          </div>
        </div>
        <div class="col-sm-2 mali boja2">
          <div class="forecast-header">
            <div class="day">{{vreme3}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika3}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes3}}<sup>o</sup>C</div>

          </div>
        </div>
        <div class="col-sm-2 mali">
          <div class="forecast-header">
            <div class="day">{{vreme4}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika4}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes4}}<sup>o</sup>C</div>

          </div>
        </div>
        <div class="col-sm-2 mali boja2">
          <div class="forecast-header">
            <div class="day">{{vreme5}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika5}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes5}}<sup>o</sup>C</div>

          </div>
        </div>
        <div class="col-sm-2 mali">
          <div class="forecast-header">
            <div class="day">{{vreme6}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika6}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes6}}<sup>o</sup>C</div>

          </div>
        </div>
        </div>
      </div>

    <div class="row meni"><!--Податоци кои се додават во веб страна, артикли, слики итн.-->
      <div class="col-sm-7">
        <img class="slika" src="images/weather-1375260252-article-1.jpg" height="280" width="665"/>
</div>
      <div class="col-sm-5">

        <p class="text">Времето во земјава ќе биде сончево и значително потопло со мала до умерена облачност. Попладне во планинските подрачја, особено во западните делови ќе има услови за краткотраен дожд и грмежи. УВ индексот 9.

          Утринската температура ќе се движи од 11 до 18 степени,  а дневната температура од  26 до 36 степени.

          Во Скопје ќе биде сончево  со мала до умерена облачност. Утринската температура ќе достигне до 15, а дневната температура до 33 степени.

          Под влијание на топла воздушна маса следува период на значително потопло време. Во следните денови во попладневните часови локално ќе има краткотраен пороен дожд проследен со грмежи, понекаде и појава на град, а понестабилно ќе биде од понеделник.</p>

      </div>

</div>
  <div class="row meni">
    <div class="col-sm-5">

      <p class="text">

        Во последните 24 часа во Европа биле забележани повеќе од 50.000 удари на гром, а најмногу имало во подрачјето на Италија, Словенија, Истра и северна Хрватска.

        Невремето пропратено со грмотевици, кое ја зафати Европа, донело со себе големо количество дожд, а некаде и град.

        Метео сервисот „Ведер Јуроп“ информира дека на подрачјето во јужна Австрија имало град и поплави.

        Во Грац улиците биле поплавени, а сообраќајот отежнат, додека делови на јужна Австрија биле погодени од град.

        Невремето не ја заобиколи ниту Словенија.
      </p>

    </div>
    <div class="col-sm-7">
      <img class="slika" src="images/1.jpg" height="280" width="665"/>
    </div>


  </div>

  <div class="row meni slika boja"> <!--Футер на страницата-->
  <div class="text text-center">© 2019 Copyright: Gaber
    <br>
    <a href="https://github.com/gaberu13/WeatherWebAngularJS"> GitHub Repo</a>
  </div>


  </div>

</div>


  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>
  <script src="lib/css/bootstrap.min.css"></script>

</body>
</html>
