<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Weather Application</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>
<body ng-app="myApp" ng-controller="weatherCon">

<div class="site-content">
  <div class="site-header">
    <div class="container">
      <a href="index.html" class="branding">
        <img src="images/23793-9-weather-photos.png" alt="" class="logo">
        <div class="logo-type">
          <h1 class="site-title">Временска Прогноза</h1>
          <small class="site-description">Скопје, Македонија</small>
        </div>
      </a>

      <!-- Default snippet for navigation -->
      <div class="main-navigation">
        <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
        <ul class="menu">
          <li class="menu-item current-menu-item"><a href="index.html">Прогноза</a></li>
          <li class="menu-item"><a href="#">Вести</a></li>
          <li class="menu-item"><a href="#">Македонија</a></li>
          <li class="menu-item"><a href="#">Галерија</a></li>
          <li class="menu-item"><a href="#">Контакт</a></li>
        </ul> <!-- .menu -->
      </div> <!-- .main-navigation -->

    </div>
  </div> <!-- .site-header -->

  <div class="hero" data-bg-image="images/banner.png">
    <div class="container">
      <form action="#" class="find-location">
        <input type="text"  list="dataList" ng-model="getCity" autocomplete="on" placeholder="Побарај локација...">
        <datalist id="dataList">
          <option ng-repeat="citi in cities"  value="{{citi}}">{{citi}}</option>
        </datalist>
        <input type="submit" ng-click="getResult()" value="Пребарувај">


      </form>

    </div>
  </div>
  <div class="forecast-table">
    <div class="container">
      <div class="forecast-container">
        <div class="today forecast">
          <div class="forecast-header">
            <div class="day">{{vreme}}</div>

          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="location"><img src="images/icon-marker.png" alt="" width=20> <b>{{city}}</b></div>
            <div class="degree">
              <div class="num">{{stepeniDenes}}<sup>o</sup>C</div>
              <div class="forecast-icon">
                <img src="http://openweathermap.org/img/w/{{slika}}.png" alt="" width=90>
              </div>
            </div>
            <span><img src="images/icon-umberella.png" alt="">{{vlaznostDenes}} %</span>
            <span><img src="images/icon-wind.png" alt="">{{vetar}} km/h</span>
          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">{{vreme1}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika1}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes1}}<sup>o</sup>C</div>

          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">{{vreme2}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika2}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes2}}<sup>o</sup>C</div>

          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">{{vreme3}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika3}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes3}}<sup>o</sup>C</div>

          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">{{vreme4}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika4}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes4}}<sup>o</sup>C</div>

          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">{{vreme5}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika5}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes5}}<sup>o</sup>C</div>

          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">{{vreme6}}</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="http://openweathermap.org/img/w/{{slika6}}.png" alt="" width=48>
            </div>
            <div class="degree">{{stepeniDenes6}}<sup>o</sup>C</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>

</body>
</html>
